/* Card.module.css */
.cardContainer {
    display: flex;
    align-items: stretch;
}

.card {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 100%;
    /* Altura del 100% para las tarjetas */
}

.cardImage {
    max-height: 20vh;
    max-width: 9vw;
    margin-top: 15px;
}

/* Ajusta y agrega estilos según sea necesario para las otras clases */